<div class="login-container">

    <mat-card class="login-card">
        <mat-card-header class="text-danger">
            <h1 class="font-weight-bold"> User Login </h1>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="authenticateUser()">
                <mat-form-field class="full-width">
                    <mat-label>User ID</mat-label>
                    <input matInput formControlName="username">
                    <div *ngIf=" loginForm.controls['username'].touched  && loginForm.get('username')?.errors"
                        class="alert alert-danger">
                        <p>Entered User ID length :
                            {{this.loginForm.controls['username'].errors?.['minlength']?.actualLength?
                            this.loginForm.controls['username'].errors?.['minlength']?.actualLength : 0}}</p>
                        <p> User ID should have Minimum
                            {{this.loginForm.controls['username'].errors?.['minlength']?.requiredLength? 4 : 4}}
                            Characters</p>
                    </div>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <div *ngIf=" loginForm.controls['password'].touched  && loginForm.get('password')?.errors"
                        class="alert alert-danger">
                        <div *ngIf="loginForm.get('password')?.errors?.['InvalidPassword']">
                            <p>{{this.loginForm.controls['password'].errors?.['InvalidPassword']?.error}}</p>
                        </div>

                        <div *ngIf="loginForm.controls['password'].errors?.['minlength']">
                            <p>Entered Password length :
                                {{this.loginForm.controls['password'].errors?.['minlength']?.actualLength}}</p>
                            <p> Password should have Minimum
                                {{this.loginForm.controls['password'].errors?.['minlength']?.requiredLength}}
                                Characters</p>
                        </div>

                    </div>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" class="full-width">Login</button>
                <a routerLink="/register" class="full-width" mat-raised-button color="accent">New User?</a>






            </form>
        </mat-card-content>

    </mat-card>

</div>