<div class="container" >
    <div >
        <h1>Welcome to DEX RBA </h1>
    </div>
    <ul *ngIf="currentUser" >
        <li>{{currentUser.user.id}}</li>
        <li>{{currentUser.user.name}}</li>
        <li>{{currentUser.user.password}}</li>
        <li>{{currentUser.user.role}}</li>

    </ul>

    <app-textbox-common [data]=userToken>

    </app-textbox-common>

    <button (click)="validateUser()" > Validate User Authentication</button>

    <ng-container *ngIf=validationStatus!='' >
        <app-common-toastr  
    [type]=validationType
    [message]=validationStatus
    >
    </app-common-toastr>
    </ng-container>
    

</div>
